<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css.map"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/home.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/comum.css"  media="screen,projection"/>
   
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body class=" blue-grey darken-3">

    <div class="row m-5">
        <div class="col-4 center" > <img width="100" height="100" src="/img/Itens.png"> </div>
        <div class="col-6 amber-text text-lighten-4 "><h1>Inclusão Itens Recolhidos</h1></div>
        <div class="col-2">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item blue-grey darken-3"><a href="/principal"><i class="material-icons">home</i></a></li>
            <li class="list-group-item blue-grey darken-3"><a href="/LD/Recolhimentos"><i class="material-icons">arrow_back</i></a></li>
           
          </ul>          
        </div>

    </div>
    <div class="row">
        <div class="container ">
            <div class="row divLoginCaixa z-depth-3">
              <div class=" col s12">

                <div class="row">
                    <div class="col-12">
                        <label class="amber-text text-lighten-4 " >Pesquisar Recolhimento ou Devolução</label>
                        <input type="text" id="codRecolhimento" size="30" class="amber-text text-lighten-4 " style="width: 20%; text-align:center;" name="codRecolhimento">
                    </div>
                    <div class="col-12">
                        <form action="">

                          <div class="subMenu ">
                            <p class="flow-text center mg-4 ">
                              <label class="z-depth-1  yellow-text text-lighten-3">
                                <input type="radio"  id="tipoDocumento" name="tipoDocumento" value="recolhimento" checked/>
                                <span style="width: 150px;">Recolhimento</span>
                              </label>
                              <label class="z-depth-1  yellow-text text-lighten-3">
                                <input type="radio"  id="tipoDocumento" name="tipoDocumento" value="devolucao"/>
                                <span style="width: 150px;">Devolução</span>
                              </label>
                            </p>
                          </div>

                        </form>  
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-2 ">
                        
                      <a class="btn-floating btn-large waves-effect waves-light cyan darken-4" onclick="pesquisarRecolhimento()" ><i class="material-icons">search</i></a>

                  </div>
                </div>

                <div class="row">
                    <!-- <div class="col-4 container" >-->
                        <div class="row"> 
                            <div class=" col-12">
                              <!-- <span id="captionTabela"></span> -->
                              <blockquote  class="amber-text text-lighten-4 ">
                                <p id="captionTabela" ></p>
                              </blockquote>
                              <table id="tabelaRecolhimento" name='tabelaRecolhimento' class=" amber-text text-lighten-4 table-striped highlight table-hover responsive-table centered tbRecolhimento">
                                
                                <thead id="cabecalhotbRecolhimento" name='cabecalhotbRecolhimento'>
                                    <th></th>
                                    <th>Documento</th>
                                    <th  nowrap="true">Código Item</th>
                                    <th>Descrição Item</th>
                                    <th>Variação</th>
                                    <th>Acabamento</th>
                                    <th>Quantidade</th>
                                    <th  nowrap="true">Cod. Motivo</th>
                                    <th  nowrap="true">Motivo</th>
                                    <th  nowrap="true">Tipo</th>
                                </thead>
                                 <tbody id="corpoTabela" name='corpoTabela'>

                                 </tbody> 
                          
                              </table>
                            </di>

                        </div>
                       
                      </div>

                    </div>
               
               
               <div class="row">
                  <div class="col-6">
                    <button type="button" class="btn btn-outline-success" id="incluirRecolhimento" onclick="incluirRecolhimento()">Incluir</button>
                  </div><div class="col-6">
                    <a class="btn btn-outline-success" onclick=""  data-toggle="modal" data-target="#modalAvulso">Avulso</a>
                    
                  </div>
               </div>
              
              </div>
            </div>
            
        </div>
        
    </div>

    <!-- Modals -->

    <!-- Formulario Inclusao -->
    <div class="modal fade painelForm" id="modalIncluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cadastro de Item Avulso:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <form id="formRecolhimento" name="formRecolhimento" action="/Recolhimento/incluir" method="POST">
              <div class="modal-body">
              
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">account_circle</i>
                      <input  id="recolhimento" name="recolhimento" type="text" class="validate">
                      <label class="active" for="recolhimento">Usuário</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">vpn_key</i>
                      <input  id="senha" name="senha" type="password" class="validate">
                      <label class="active" for="senha">Senha</label>
                    </div>
                  </div>
                  

                  <div class="row">
                    <div class="switch">
                      <label>
                          Não
                          <input id="edicao" type="checkbox">
                          <span class="lever"></span>
                          Sim
                      </label>
                  </div>

              </div>
            </form>
            <div class="modal-footer">
              <div class="row container">
                  <div  class="col-6 center-align"> 
                    <span id="divMsg" class="flow-text deep-orange-text text-darken-4"></span>
                </div>
                <div class="col-3">
                
                  <button type="button" name="segundo" id="segundo" data-dismiss="modal" class="close btn btn-secondary" >Sair</button>

                </div>
                <div  class="col-3">
                  <button id="gravar" type='button' class="btn btn-primary">Gravar </button>
                </div>

              </div>
              
            
              
            </div>
          
        </div>
      </div>
    </div>
  </div>
    
    <!-- Formulario Item Avulso -->
    <div class="modal fade painelForm" id="modalAvulso" tabindex="-1" role="dialog" aria-labelledby="modalAvulso" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalAlteracao">Cadastro de Item Avulso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <form id="formAlterarRecolhimento" name="formAlterarRecolhimento" action="/Recolhimento/novasenha" method="POST">
              <div class="modal-body">
              
                  <div class="row">
                    <div class="input-field col 3">
                      <input type="text" name="itemAvulso" id="itemAvulso" value="">
                      <label class="active" for="itemAvulso">Item</label>
                    </div>
                    <div class="input-field col-8">
                      <label class=" " >Descrição Item</label>
                      <input type="text" id="desc_itemAvulso" class=" " name="desc_itemAvulso">
                 
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col-4">
                      <label class=" " >Variação</label>
                      <input type="text" id="variacao" class=" " name="variacao">
                 
                    </div>
                    <div class="input-field col-8">
                      <label class=" " >Descrição Variação</label>
                      <input type="text" id="desc_variacao" class=" " name="desc_variacao">
                 
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col-4">
                      <label class=" " >Acabamento</label>
                      <input type="text" id="acabamento" class=" " name="acabamento">
                 
                    </div>
                    <div class="input-field col-8">
                      <label class=" " >Descrição Acabamento</label>
                      <input type="text" id="desc_acabamento" class=" " name="desc_acabamento">
                 
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="input-field col-4">
                      <label class=" " >Código Motivo </label>
                      <input type="text" id="cod_motivo" class=" " name="cod_motivo">
                 
                    </div>
                    <div class="input-field col-8">
                      <label class=" " >Descrição Motivo</label>
                      <input type="text" id="desc_motivo" class=" " name="desc_motivo">
                 
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col-4">
                      <label class=" " >Quantidade</label>
                      <input type="text" id="quantidade" class=" " name="quantidade">
                 
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col-12">
                      <label class=" " >Observação</label>
                      <input type="text" id="observacao"  class=" " name="observacao" rows="4" cols="50">
                 
                    </div>
                  </div>


              </div>
            </form>
            <div class="modal-footer">
              <div class="row container">
                  <div  class="col-6 center-align"> 
                    <span id="divMsg" class="flow-text deep-orange-text text-darken-4"></span>
                </div>
                <div class="col-3">
                
                  <button type="button" name="segundo" id="segundo" data-dismiss="modal" class="close btn btn-secondary" >Sair</button>

                </div>
                <div  class="col-3">
                  <button  onclick="incluirRecolhimentAvulso()" type='button' class="btn btn-primary">Gravar </button>
                </div>

              </div>
              
            
              
            </div>
          
        </div>
      </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/jquery.slim.min.js"  ></script>
    <script type="text/javascript" src="/js/popper.min.js"  ></script>
    <script type="text/javascript" src="/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="/js/axios.js"></script>
    <script type="text/javascript" src="/js/LD/controleRecolhimentoLD.js"></script>
    <script type="text/javascript" src="/js/config.js"></script>
    <script>
        $(document).ready(function() {
          M.updateTextFields();
        });
    </script>
  </body>
</html>